@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap");
.hero_clases .clases_precios .suscripciones .cuerpo_clase, .testimonio .testimonios .testimonio_body, .presentacion .presentacion_texto, .presentacion .foto_profe, .metodologia .tarjetas .card, .institucional .institucional__main {
  box-shadow: 5px 5px 10px 0 black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}
*::-moz-selection {
  background-color: black;
  color: burlywood;
}
*::selection {
  background-color: black;
  color: burlywood;
}

hr {
  color: white;
  margin: 0;
}

.encabezado {
  background-image: url(../img/background/encabezado.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.encabezado .hero {
  display: flex;
  justify-content: space-between;
}
.encabezado .hero .navbar__logo {
  width: 100px;
  padding: 20px 0px 10px 15px;
}
.encabezado .hero .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.encabezado .hero .navbar .navbar__lista {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar .navbar__lista {
    padding-top: 1rem;
    gap: 1rem;
  }
}
.encabezado .hero .navbar .navbar__lista .navbar__menu {
  animation: scale-in-hor-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.encabezado .hero .navbar .navbar__lista .navbar__menu a {
  color: rgb(212, 116, 48);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar .navbar__lista .navbar__menu a {
    color: rgb(212, 116, 48);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s;
  }
}
.encabezado .hero .navbar .navbar__lista .navbar__menu a:hover {
  background-color: burlywood;
  padding: 1rem;
  border-radius: 25px;
  color: black;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar .navbar__lista .navbar__menu a:hover {
    padding: 0.5rem;
  }
}
.encabezado .hero .navbar .navbar__lista .navbar__menu:nth-child(1) {
  animation-delay: 0.2s;
}
.encabezado .hero .navbar .navbar__lista .navbar__menu:nth-child(2) {
  animation-delay: 0.4s;
}
.encabezado .hero .navbar .navbar__lista .navbar__menu:nth-child(3) {
  animation-delay: 0.6s;
}
.encabezado .hero .navbar .navbar__lista .navbar__menu:nth-child(4) {
  animation-delay: 0.8s;
}
.encabezado .hero .navbar .navbar__lista .navbar__menu:nth-child(5) {
  animation-delay: 1s;
}
.encabezado .hero .navbar .container-fluid .navbar-toggler {
  background-color: burlywood;
}
.encabezado .hero .navbar__botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding-right: 3rem;
  padding-bottom: 1rem;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar__botones {
    display: none;
  }
}
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
.botones {
  background-color: rgb(212, 116, 48);
  border-style: groove;
  border-color: white;
  border-radius: 15px;
  padding: 10px 25px;
  text-align: center;
  transition: 0.4s;
  height: 40%;
}
.botones a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.botones:hover {
  background-color: black;
  color: white;
  border-color: white;
  font-weight: 500;
}

.boton_general {
  background-color: rgb(19, 17, 17);
  border-color: white;
  color: rgb(212, 116, 48);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .boton_general {
    font-size: 0.8rem;
  }
}
.boton_general:hover {
  background-color: rgb(104, 94, 94);
  color: white;
  border-color: burlywood;
  font-weight: 500;
}

.general_titulo {
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .general_titulo {
    font-size: 1.2rem;
  }
}
.general_titulo h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(212, 116, 48);
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .general_titulo h2 {
    font-size: 1.2rem;
  }
}
.general_titulo .gt_black {
  color: black;
}

.institucional {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex: 1;
  padding-block: 7rem;
}
@media screen and (max-width: 768px) {
  .institucional {
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
  }
}
.institucional .institucional__main {
  background-color: burlywood;
  border-radius: 25px;
  width: 30%;
  padding: 1.5rem;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .institucional .institucional__main {
    width: 100%;
    padding: 1.2rem;
    font-size: 0.8rem;
  }
}
.institucional .institucional__main h2 {
  color: rgb(212, 116, 48);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .institucional .institucional__main h2 {
    font-size: 1.2rem;
  }
}
.institucional .institucional__main p .italica {
  font-style: italic;
}
.institucional iframe {
  border: 2px solid white;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .institucional iframe {
    max-width: 100%;
  }
}

.metodologia {
  width: 100%;
  background-image: url(../img/FONDO.jpg);
  background-size: cover;
}
.metodologia .tarjetas {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1.5rem;
  }
}
.metodologia .tarjetas .card {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card {
    width: 85%;
  }
}
.metodologia .tarjetas .card .uno {
  width: 30, 7%;
}
.metodologia .tarjetas .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: burlywood;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card .card-body {
    padding: 1.2rem;
  }
}
.metodologia .tarjetas .card .card-body h5 {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card .card-body h5 {
    font-size: 1rem;
  }
}
.metodologia .tarjetas .card .card-body p {
  text-align: justify;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card .card-body p {
    font-size: 0.8rem;
  }
}

.carrusel {
  background-image: url(../img/background/00.jpg);
  background-size: cover;
}
.carrusel .carrusel_general {
  width: 80%;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .carrusel .carrusel_general {
    width: 100%;
    padding: 1rem;
  }
}
.carrusel .carrusel_general .carrusel_texto {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.421);
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .carrusel .carrusel_general .carrusel_texto {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .carrusel .carrusel_general .carrusel_texto h5 {
    font-size: 1rem;
  }
}
.carrusel .carrusel_general .carrusel_texto p {
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .carrusel .carrusel_general .carrusel_texto p {
    font-size: 0.8rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding-top: 1.5rem;
  background-image: url(../img/FONDO.jpg);
  background-size: cover;
}
.footer .logopie {
  width: 70px;
}
.footer h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.footer .footer__redes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 2rem;
}
.footer .footer__redes a {
  color: black;
  padding-inline: 0.8rem;
  padding-block: 0.5rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
}

.bi-facebook:hover {
  background-color: #4040e4;
  transition: 0.5s;
}

.bi-instagram:hover {
  background-color: #ef6d82;
  transition: 0.5s;
}

.bi-youtube:hover {
  background-color: #f01c1c;
  transition: 0.5s;
}

.bi-tiktok:hover {
  background-color: white;
  transition: 0.5s;
}

.presentacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem;
  gap: 2.5rem;
}
@media screen and (max-width: 768px) {
  .presentacion {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
  }
}
.presentacion .foto_profe {
  width: 45%;
  border-radius: 1.5rem;
}
@media screen and (max-width: 768px) {
  .presentacion .foto_profe {
    width: 80%;
  }
}
.presentacion .presentacion_texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
  text-align: justify;
  padding: 2rem;
  border-radius: 20px;
  width: 40%;
  height: 10%;
}
@media screen and (max-width: 768px) {
  .presentacion .presentacion_texto {
    font-size: 0.8rem;
    padding: 1.2rem;
    width: 90%;
  }
}
.presentacion .presentacion_texto h2 {
  color: rgb(212, 116, 48);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .presentacion .presentacion_texto h2 {
    font-size: 1.2rem;
  }
}
.presentacion .presentacion_texto .italica {
  font-style: italic;
}

.fotos_alumnos {
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #ff9149 100%);
}
.fotos_alumnos .galeria {
  display: grid;
  padding: 2rem;
  gap: 1.5rem;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8";
}
.fotos_alumnos .galeria .foto {
  animation: flip-in-ver-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.fotos_alumnos .galeria .foto img {
  width: 100%;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
.fotos_alumnos .galeria .foto img:hover {
  transform: scale(1.05);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.fotos_alumnos .galeria .foto1 {
  animation-delay: 0.3s;
}
.fotos_alumnos .galeria .foto2 {
  animation-delay: 0.6s;
}
.fotos_alumnos .galeria .foto3 {
  animation-delay: 0.9s;
}
.fotos_alumnos .galeria .foto4 {
  animation-delay: 1.2s;
}
.fotos_alumnos .galeria .foto5 {
  animation-delay: 1.5s;
}
.fotos_alumnos .galeria .foto6 {
  animation-delay: 1.8s;
}
.fotos_alumnos .galeria .foto7 {
  animation-delay: 2.1s;
}
.fotos_alumnos .galeria .foto8 {
  animation-delay: 2.4s;
}
@media screen and (max-width: 768px) {
  .fotos_alumnos .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8";
  }
}
@keyframes flip-in-ver-right {
  0% {
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}
.testimonio {
  background-image: url(../img/background/359452.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.testimonio .testimonios {
  text-align: center;
}
.testimonio .testimonios .testimonio_body {
  background-color: rgba(222, 184, 135, 0.727);
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
}

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #ff9149 100%);
}
.contacto .container {
  animation: roll-in-left 0.7s ease-out both;
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.contacto .datos_adicionales {
  animation: roll-in-right 0.7s ease-out both;
}
@keyframes roll-in-right {
  0% {
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.contacto .icono_datos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contacto .icono_datos p {
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .contacto {
    display: flex;
    flex-direction: column;
  }
}

.preguntas_frecuentes_fondo {
  background-image: url(../img/background/encabezado.jpg);
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .preguntas_frecuentes_fondo .preguntas_frecuentes {
    padding: 2rem;
  }
}

.comunidad {
  background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
  background-size: cover;
}
.comunidad label {
  font-weight: 500;
}

.form_contacto {
  background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
  background-size: cover;
}
.form_contacto label {
  font-weight: 500;
}

.hero_clases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #ff9149 100%);
}
.hero_clases .clases_precios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .hero_clases .clases_precios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
}
.hero_clases .clases_precios .suscripciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
}
@media screen and (max-width: 768px) {
  .hero_clases .clases_precios .suscripciones {
    padding: 0.5rem;
  }
}
.hero_clases .clases_precios .suscripciones img {
  width: 90%;
  padding: 1rem;
  border-radius: 1rem;
}
.hero_clases .clases_precios .suscripciones .cuerpo_clase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: burlywood;
  border-radius: 1.5rem;
}
@media screen and (max-width: 768px) {
  .hero_clases .clases_precios .suscripciones .cuerpo_clase {
    gap: 0.5rem;
    padding: 1rem;
  }
}
.hero_clases .clases_precios .suscripciones .cuerpo_clase h3 {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .hero_clases .clases_precios .suscripciones .cuerpo_clase h3 {
    font-size: 1.2rem;
  }
}
.hero_clases .clases_precios .suscripciones .cuerpo_clase h5 {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .hero_clases .clases_precios .suscripciones .cuerpo_clase h5 {
    font-size: 1rem;
  }
}
.hero_clases .clases_precios .suscripciones .cuerpo_clase p {
  text-align: justify;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .hero_clases .clases_precios .suscripciones .cuerpo_clase p {
    font-size: 0.8rem;
  }
}
.hero_clases .referi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  animation: shake-bottom 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}
.hero_clases .referi:hover {
  animation: none;
}
.hero_clases .referi h2 {
  background-color: yellow;
  padding: 1rem;
  border-radius: 1rem;
  border-style: groove;
}
.hero_clases .referi a {
  font-size: 2.5rem;
  color: black;
}

.sec_ventajas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
@media screen and (max-width: 768px) {
  .sec_ventajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
}
.sec_ventajas .ventajas_uno,
.sec_ventajas .ventajas_dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sec_ventajas .ventajas_uno .ventajas,
.sec_ventajas .ventajas_dos .ventajas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  gap: 1rem;
}
.sec_ventajas .ventajas_uno .ventajas h3,
.sec_ventajas .ventajas_dos .ventajas h3 {
  color: rgb(212, 116, 48);
  font-size: 1.3rem;
  font-weight: 700;
  width: 40%;
}
.sec_ventajas .ventajas_uno .ventajas p,
.sec_ventajas .ventajas_dos .ventajas p {
  padding: 1rem;
  background-image: url(../img/FONDO.jpg);
  background-size: cover;
  text-align: center;
  border-radius: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.wpp {
  position: fixed;
  width: 80px;
  bottom: 2rem;
  right: 2rem;
}
@keyframes shake-bottom {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
.filtros {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: end;
  margin: 20px 20px 20px 20px;
}

.generos {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}

.padre_canciones h2 {
  margin-block: 15px;
}

.canciones {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 15px 15px 15px 15px;
}

.icono_partitura {
  width: 15px;
}

.cuerpo {
  display: flex;
  margin-left: 1rem;
  margin-top: 2rem;
}

.padre_filtro {
  margin-block: 18px;
}

.padre_filtro h2 {
  font-size: 20px;
}

.hijos_filtros {
  margin-block: 20px;
}

.items_filtros {
  margin-inline: 15px;
  font-size: 14px;
}

.titulo_filtros {
  font-size: 16px;
}/*# sourceMappingURL=estilos.css.map */