@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}
*::-moz-selection {
  background-color: black;
  color: burlywood;
}
*::selection {
  background-color: black;
  color: burlywood;
}

hr {
  color: white;
  margin: 0;
}

.encabezado {
  background-image: url(../img/background/encabezado.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.encabezado .hero {
  display: flex;
  justify-content: space-between;
}
.encabezado .hero .navbar__logo {
  width: 100px;
  padding: 20px 0px 10px 15px;
}
.encabezado .hero .navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.encabezado .hero .navbar .navbar__lista {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar .navbar__lista {
    padding-top: 1rem;
    gap: 1rem;
  }
}
.encabezado .hero .navbar .navbar__lista .navbar__menu a {
  color: rgb(212, 116, 48);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar .navbar__lista .navbar__menu a {
    color: rgb(212, 116, 48);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s;
  }
}
.encabezado .hero .navbar .navbar__lista .navbar__menu a:hover {
  background-color: burlywood;
  padding: 1rem;
  border-radius: 25px;
  color: black;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar .navbar__lista .navbar__menu a:hover {
    padding: 0.5rem;
  }
}
.encabezado .hero .navbar .container-fluid .navbar-toggler {
  background-color: burlywood;
}
.encabezado .hero .navbar__botones {
  display: flex;
  align-items: end;
  padding-right: 3rem;
  padding-bottom: 1rem;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .encabezado .hero .navbar__botones {
    display: none;
  }
}

.botones {
  background-color: rgb(212, 116, 48);
  border-style: groove;
  border-color: white;
  border-radius: 15px;
  padding: 10px 25px;
  text-align: center;
  transition: 0.4s;
  height: 40%;
}
.botones a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.botones:hover {
  background-color: black;
  color: white;
  border-color: white;
  font-weight: 500;
}

.boton_general {
  background-color: rgb(19, 17, 17);
  border-color: white;
  color: rgb(212, 116, 48);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .boton_general {
    font-size: 0.8rem;
  }
}
.boton_general:hover {
  background-color: rgb(104, 94, 94);
  color: white;
  border-color: burlywood;
  font-weight: 500;
}

.general_titulo {
  font-size: 1.5rem;
  font-weight: 700;
}
.general_titulo h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(212, 116, 48);
  padding-top: 2rem;
}

.institucional {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex: 1;
  padding-block: 2rem;
}
@media screen and (max-width: 768px) {
  .institucional {
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
  }
}
.institucional .institucional__main {
  background-color: burlywood;
  border: 2px solid white;
  border-radius: 25px;
  width: 40%;
  padding: 1.5rem;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .institucional .institucional__main {
    width: 100%;
    padding: 1.2rem;
    font-size: 0.8rem;
  }
}
.institucional .institucional__main h2 {
  color: rgb(212, 116, 48);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .institucional .institucional__main h2 {
    font-size: 1.2rem;
  }
}
.institucional .institucional__main p .italica {
  font-style: italic;
}
.institucional iframe {
  border: 2px solid white;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .institucional iframe {
    max-width: 100%;
  }
}

.metodologia {
  width: 100%;
  background-image: url(../img/FONDO.jpg);
  background-size: cover;
}
.metodologia .meto__titulo {
  text-align: center;
  padding-block: 1.2rem;
}
.metodologia .meto__titulo h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
.metodologia .tarjetas {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1.5rem;
  }
}
.metodologia .tarjetas .card {
  box-shadow: 5px 5px 10px 0 black;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card {
    width: 85%;
  }
}
.metodologia .tarjetas .card .uno {
  width: 30, 7%;
}
.metodologia .tarjetas .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: burlywood;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card .card-body {
    padding: 1.2rem;
  }
}
.metodologia .tarjetas .card .card-body h5 {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card .card-body h5 {
    font-size: 1rem;
  }
}
.metodologia .tarjetas .card .card-body p {
  text-align: justify;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .metodologia .tarjetas .card .card-body p {
    font-size: 0.8rem;
  }
}

.carrusel {
  background-image: url(../img/background/00.jpg);
  background-size: cover;
}
.carrusel .carrusel_texto {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.421);
  padding: 0.5rem;
}
.carrusel .carrusel_texto p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding-top: 1rem;
  background-image: url(../img/FONDO.jpg);
  background-size: cover;
}
.footer .logopie {
  width: 70px;
}
.footer h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.footer .footer__redes {
  display: flex;
  flex-direction: row;
}
.footer .footer__redes a {
  color: black;
  padding-inline: 0.8rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.presentacion {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4rem;
  gap: 2.5rem;
}
@media screen and (max-width: 768px) {
  .presentacion {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
  }
}
.presentacion .foto_profe {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .presentacion .foto_profe {
    width: 80%;
  }
}
.presentacion .presentacion_texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
  text-align: justify;
  padding: 2rem;
  border-radius: 20px;
  width: 50%;
  height: 10%;
}
@media screen and (max-width: 768px) {
  .presentacion .presentacion_texto {
    font-size: 0.8rem;
    padding: 1.2rem;
    width: 90%;
  }
}
.presentacion .presentacion_texto h2 {
  color: rgb(212, 116, 48);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .presentacion .presentacion_texto h2 {
    font-size: 1.2rem;
  }
}
.presentacion .presentacion_texto .italica {
  font-style: italic;
}

.fotos_alumnos {
  background-image: url(../img/background/00.jpg);
  background-size: cover;
}
.fotos_alumnos .galeria {
  display: grid;
  padding: 1.5rem;
  gap: 1.5rem;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8";
}
.fotos_alumnos .galeria .foto img {
  width: 100%;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
.fotos_alumnos .galeria .foto img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .fotos_alumnos .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8";
  }
}

.testimonio {
  background-image: url(../img/background/359452.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.testimonio .testimonios {
  text-align: center;
}
.testimonio .testimonios .testimonio_body {
  background-color: rgba(222, 184, 135, 0.727);
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
}

.contacto {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
  background-size: cover;
  background-attachment: fixed;
}
.contacto .icono_datos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contacto .icono_datos p {
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .contacto {
    display: flex;
    flex-direction: column;
  }
}

.preguntas_frecuentes_fondo {
  background-image: url(../img/background/encabezado.jpg);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .preguntas_frecuentes_fondo .preguntas_frecuentes {
    padding: 2rem;
  }
}

.comunidad {
  background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
  background-size: cover;
}
.comunidad label {
  font-weight: 500;
}

.form_contacto {
  background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
  background-size: cover;
}
.form_contacto label {
  font-weight: 500;
}/*# sourceMappingURL=estilos.css.map */