@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

/* HEADER */

hr {
    color: white;
    margin: 0;
}

.encabezado {
    background-image: url(../img/background/encabezado.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar__logo {
    width: 100px;
    padding: 20px 0px 10px 15px;
}

.navbar__lista {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

.navbar__menu a {
    color: rgb(212, 116, 48);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.4s;
}

li a:hover {
    background-color: burlywood;
    padding: 1rem;
    border-radius: 25px;
    color: black;
}

.navbar__botones {
    display: flex;
    padding-right: 3rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.botones {
    background-color: rgb(212, 116, 48);
    border-style: groove;
    border-color: white;
    border-radius: 15px;
    padding: 10px 25px;
    text-align: center;
    transition: 0.4s;
}

.botones a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.botones:hover {
    background-color: black;
    color: white;
    border-color: white;
    font-weight: 500;
}

/* INSTITUCIONAL */

.institucional {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex: 1;
    padding: 4rem;
}

.institucional__main {
    background-color: burlywood;
    border: 2px solid white;
    border-radius: 25px;
    width: 40%;
    padding: 1.5rem;
    text-align: justify;
}

.institucional__main h2 {
    color: rgb(212, 116, 48);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5rem;
}

.italica {
    font-style: italic;
}

iframe {
    border: 2px solid white;
    min-width: 40%;
}

/* TARJETAS METODOLOGIA*/

.metodologia {
    width: 100%;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
}

.meto__titulo {
    text-align: center;
    padding-block: 1.2rem;
}

.meto__titulo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.tarjetas {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: burlywood;
}

.card-title {
    font-weight: 700;
}

.card-text {
    text-align: justify;
    font-weight: 500;
}

.btn-primary {
    background-color: rgb(19, 17, 17);
    border-color: white;
    color: rgb(212, 116, 48);
    font-weight: 500;
}

.btn-primary:hover {
    background-color: rgb(104, 94, 94);
    color: white;
    border-color: burlywood;
    font-weight: 500;
}

/* CARRUSEL */

.row {
    background-image: url(../img/background/00.jpg);
    background-size: cover;
}

.carrusel_texto {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.421);
    padding: 0.5rem;
}

.carrusel_titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.carrusel_titulo h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(212, 116, 48);
    padding-top: 2rem;
}

.carrusel_p {
    font-size: 1.2rem;
    font-weight: 500;
}

/* FOOTER */

.logopie {
    width: 70px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding-top: 1rem;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
    /* position: relative; */
}

.footer h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.footer__redes {
    display: flex;
    flex-direction: row;
}

.footer__redes a {
    color: black;
    padding-inline: 0.8rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

/* NOSOTROS CSS*/

.presentacion {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4rem;
    gap: 2.5rem;
}

.foto_profe {
    width: 50%;
}

.presentacion_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    text-align: justify;
    padding: 2rem;
    border-radius: 20px;
    width: 50%;
    height: 10%;
}

.presentacion_texto h2 {
    color: rgb(212, 116, 48);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.5rem;
}

.foto img {
    width: 100%;
}

.galeria {
    display: grid;
    padding: 1.5rem;
    gap: 1.5rem;
    width: 100%;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "foto1 foto2 foto3 foto4"
        "foto5 foto6 foto7 foto8";
}