@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

/* HEADER */

hr {
    color: white;
    margin: 0;
}

.encabezado {
    background-image: url(../img/background/encabezado.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar__logo {
    width: 100px;
    padding: 20px 0px 10px 15px;
}

.navbar__lista {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

.navbar__menu a {
    color: rgb(212, 116, 48);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.4s;
}

li a:hover {
    background-color: burlywood;
    padding: 1rem;
    border-radius: 25px;
    color: black;
}

.navbar__botones {
    display: flex;
    align-items: end;
    padding-right: 3rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.botones {
    background-color: rgb(212, 116, 48);
    border-style: groove;
    border-color: white;
    border-radius: 15px;
    padding: 10px 25px;
    text-align: center;
    transition: 0.4s;
    height: 40%;
}

.botones a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.botones:hover {
    background-color: black;
    color: white;
    border-color: white;
    font-weight: 500;
}

.navbar-toggler {
    background-color: burlywood;
}

@media (max-width:768px) {
    .navbar__lista {
        padding-top: 1rem;
        gap: 1rem;
    }

    li a:hover {
        padding: 0.5rem;
    }

    .navbar__menu a {
        color: rgb(212, 116, 48);
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        transition: 0.4s;
    }

    .navbar__botones {
        display: none;
    }
}

/* INSTITUCIONAL */

.institucional {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex: 1;
    padding-block: 2rem;
}

.institucional__main {
    background-color: burlywood;
    border: 2px solid white;
    border-radius: 25px;
    width: 50%;
    padding: 1.5rem;
    text-align: justify;
}

.institucional__main h2 {
    color: rgb(212, 116, 48);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5rem;
}

.italica {
    font-style: italic;
}

iframe {
    border: 2px solid white;
    max-width: 50%;
}

@media (max-width:768px) {
    .institucional {
        flex-direction: column;
        gap: 2rem;
    }

    .institucional__main {
        width: 100%;
        padding: 1.2rem;
        font-size: 0.8rem;
    }

    .institucional__main h2 {
        font-size: 1.2rem;
    }

    iframe {
        max-width: 100%;
    }
}

/* TARJETAS METODOLOGIA*/

.metodologia {
    width: 100%;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
}

.meto__titulo {
    text-align: center;
    padding-block: 1.2rem;
}

.meto__titulo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.tarjetas {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.card {
    box-shadow: 5px 5px 10px 0 black;
    width: 30%;
}

.uno {
    width: 30, 7%;
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: burlywood;
}

.card-title {
    font-weight: 700;
}

.card-text {
    text-align: justify;
    font-weight: 500;
}

.btn-primary {
    background-color: rgb(19, 17, 17);
    border-color: white;
    color: rgb(212, 116, 48);
    font-weight: 500;
}

.btn-primary:hover {
    background-color: rgb(104, 94, 94);
    color: white;
    border-color: burlywood;
    font-weight: 500;
}

@media (max-width:768px) {
    .tarjetas {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .card {
        width: 85%;
    }

    .card-body {
        padding: 1.2rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .btn-primary {
        font-size: 0.8rem;
    }
}

/* CARRUSEL */

.carrusel {
    background-image: url(../img/background/00.jpg);
    background-size: cover;
}

.carrusel_texto {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.421);
    padding: 0.5rem;
}

.general_titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.general_titulo h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(212, 116, 48);
    padding-top: 2rem;
}

.carrusel_p {
    font-size: 1.2rem;
    font-weight: 500;
}

/* FOOTER */

.logopie {
    width: 70px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding-top: 1rem;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
    /* position: relative; */
}

.footer h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.footer__redes {
    display: flex;
    flex-direction: row;
}

.footer__redes a {
    color: black;
    padding-inline: 0.8rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

/* NOSOTROS CSS*/

.presentacion {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4rem;
    gap: 2.5rem;
}

.foto_profe {
    width: 50%;
}

.presentacion_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    text-align: justify;
    padding: 2rem;
    border-radius: 20px;
    width: 50%;
    height: 10%;
}

.presentacion_texto h2 {
    color: rgb(212, 116, 48);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .presentacion {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;
    }

    .foto_profe {
        width: 80%;
    }

    .presentacion_texto {
        font-size: 0.8rem;
        padding: 1.2rem;
        width: 90%;
    }

    .presentacion_texto h2 {
        font-size: 1.2rem;
    }

}

.foto img {
    width: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.foto img:hover {
    transform: scale(1.1);
}

.galeria {
    display: grid;
    padding: 1.5rem;
    gap: 1.5rem;
    width: 100%;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "foto1 foto2 foto3 foto4"
        "foto5 foto6 foto7 foto8";
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto6"
            "foto7 foto8";
    }
}

.testimonios {
    text-align: center;
}

.testimonio_body {
    background-color: rgba(222, 184, 135, 0.727);
    border-radius: 25px;
    padding: 1rem;
}

.fotos_alumnos {
    background-image: url(../img/background/00.jpg);
    background-size: cover;
}

.testimonio {
    background-image: url(../img/background/359452.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* CONTACTO CSS*/

.contacto {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
    background-size: cover;
    background-attachment: fixed;
}

.icono_datos {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icono_datos p {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.preguntas_frecuentes_fondo {
    background-image: url(../img/background/encabezado.jpg);
    background-size: cover;
}

.comunidad {
    background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
    background-size: cover;
}

/* CLASES CSS*/

.clases_precios {
    display: flex;
}

.suscripciones {
    width: 110%;
    align-items: center;
    text-align: center;
}

.suscripciones img {
    width: 20rem;
    border-style: inherit;
    margin: 20px 15px 20px 15px;
    padding: auto;
}

.suscripciones h2 {
    font-size: 20px;
    color: rgb(212, 116, 48);
}

.suscripciones p {
    width: 100%;
    height: 120px;
    padding: 20px 70px 20px 70px;
}

.suscripciones h3 {
    font-style: oblique;
}

.boton_suscribite {
    background-color: rgb(212, 116, 48);
    border-style: groove;
    border-color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    margin: 20px;
    padding: 10px 10px;
    align-items: center;
}

.boton_suscribite a {
    text-decoration: none;
    color: black;
}

.referi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.referi h2 {
    background-color: yellow;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
}

.referi img {
    width: 45px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.ventajas {
    display: inline-flex;
    text-align: center;
    margin: 50px 20px 50px 65px;
    width: 40%;
}

.ventajas h3 {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}

.ventajas p {
    width: 100%;
    margin: 10px;
    padding: 15px;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
    text-align: center;
    border-radius: 20px;
}

.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 4rem;
    border-radius: 55px 55px 55px 20px;
}

/* CANCIONES CSS*/

.filtros {
    display: flex;
    column-gap: 20px;
    justify-content: end;
    margin: 20px 20px 20px 20px
}

.generos {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 2rem;
}

.padre_canciones h2 {
    margin-block: 15px;
}

.canciones {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 15px 15px 15px 15px;
}

.icono_partitura {
    width: 15px;
}

.cuerpo {
    display: flex;
    margin-left: 1rem;
    margin-top: 2rem;
}

.padre_filtro {
    margin-block: 18px;
}

.padre_filtro h2 {
    font-size: 20px;
}

.hijos_filtros {
    margin-block: 20px;
}

.items_filtros {
    margin-inline: 15px;
    font-size: 14px;
}

.titulo_filtros {
    font-size: 16px;
}

/* CSS REGISTRATE.HTML */

.form_contacto {
    display: flex;
    justify-content: center;
    background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
    background-size: cover;
}

.tit_contacto {
    color: rgb(212, 116, 48);
    margin-top: 30px;
    margin-bottom: 30px;
}

.registrate {
    display: grid;
    justify-content: left;
    font-weight: normal;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}

.form_input {
    width: 90%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: burlywood;
    border-style: double;
}

.form_input_text {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: burlywood;
    border-style: double;
}

.boton_enviar {
    background-color: rgb(212, 116, 48);
    border-style: groove;
    border-color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    margin: 20px 200px 20px 160px;
    padding: 10px 10px;
}

.datos_adicionales {
    padding: 25px;
    margin: 25px;
}

.iconos_contacto {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.icono_datos {
    display: flex;
    align-items: center;
}

.icono_datos p {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}