.hero_canciones {
    @extend %background;

    .filtros {
        display: flex;
        gap: 1.3rem;
        justify-content: end;
        padding: 1.5rem;
    }

    .cuerpo {
        display: flex;
        margin-left: 1rem;
        margin-top: 2rem;

        .padre_filtro {
            margin-block: 18px;

            h2 {
                font-size: 20px;
            }

            .hijos_filtros {
                margin-block: 20px;

                .titulo_filtros {
                    font-size: 16px;
                }

                .items_filtros {
                    margin-inline: 15px;
                    font-size: 14px;
                }
            }
        }
    }

    .generos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;

        .padre_canciones {
            max-width: 100%;

            .canciones {
                padding: 1rem;
                margin: 0;

                h2 {
                    padding: 0.5rem;
                    text-align: center;
                    font-size: 1.4rem;
                }

                .canciones_cuerpo {
                    background-color: $mainColor;
                    padding: 1.2rem;
                    border-radius: 1.5rem;
                    @extend %sombreado;

                    li {
                        @include flex(row, start, center);
                        list-style-position: inside;
                        font-size: 1rem;

                        .icono_partitura {
                            padding-left: 0.8rem;
                            color: black;
                        }
                    }
                }


            }

        }
    }
}