.hero_canciones {
    @extend %background;

    .filtros {
        display: flex;
        gap: 1.3rem;
        justify-content: end;
        padding: 1.5rem;
        font-family: $fontZillaSlab;
    }

    .cuerpo {
        display: flex;
        padding: 1rem;

        .padre_filtro {
            padding: 1.5rem;
            border-color: black;
            border-style: dashed;
            height: 100%;

            h2 {
                font-size: 1.3rem;
                font-weight: 700;
                text-align: center;
            }

            .hijos_filtros {
                padding-block: 1rem;

                .titulo_filtros {
                    font-size: 1rem;
                    font-weight: 700;
                }

                .items_filtros {
                    margin-inline: 1rem;
                    font-size: 0.9rem;

                    li:hover {
                        font-weight: 500;
                        transform: scale(1.05);
                        text-shadow: 1px 1px 2px $secondaryColor;
                    }
                }
            }
        }
    }

    .generos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
        width: 100%;
        padding: 1rem;
        padding-left: 0;

        .padre_canciones {
            max-width: 100%;

            .canciones {
                margin: 0;

                h2 {
                    padding: 0.5rem;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 700;
                }

                .canciones_cuerpo {
                    background-color: $mainColor;
                    padding: 1.5rem;
                    border-radius: 1.5rem;
                    @extend %sombreado;
                    line-height: 1.8rem;

                    li {
                        @include flex(row, start, center);
                        font-size: 1rem;
                        transition: 0.3s;

                        &:hover {
                            font-weight: 500;
                            transform: scale(1.05);
                            text-shadow: 1px 1px 2px $secondaryColor;
                        }

                        .icono_partitura {
                            padding-left: 0.8rem;
                            color: black;
                        }
                    }
                }


            }

        }
    }
}