.carrusel {
    background-image: url(../img/background/00.jpg);
    background-size: cover;

    .carrusel_texto {
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.421);
        padding: 0.5rem;

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}