.clases_precios {
    @include flex(row, center, center);
    padding: 2rem;

    @include mobile {
        @include flex(column, center, center);
        padding: 1.5rem;
    }

    .suscripciones {
        @include flex(column, center, center);
        width: 100%;
        text-align: center;
        padding: 1.5rem;

        @include mobile {
            padding: 0.5rem;
        }

        img {
            width: 90%;
            padding: 1rem;
            border-radius: 1rem;
        }

        .cuerpo_clase {
            @include flex(column, space-between, center);
            gap: 1rem;
            padding: 1.5rem;
            background-color: $mainColor;
            border-radius: 1.5rem;
            @extend %sombreado;

            @include mobile {
                gap: 0.5rem;
                padding: 1rem;
            }

            h3 {
                font-size: 1.5rem;

                @include mobile {
                    font-size: 1.2rem;
                }
            }

            h5 {
                font-weight: 700;

                @include mobile {
                    font-size: 1rem;
                }
            }

            p {
                text-align: justify;
                font-weight: 500;

                @include mobile {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.referi {
    @include flex(row, center, center);
    gap: 1rem;

    h2 {
        background-color: yellow;
        padding: 1rem;
        border-radius: 1rem;
        border-style: groove;
    }

    a {
        font-size: 2.5rem;
        color: black;
    }
}

.sec_ventajas {
    @include flex(row, center, center);
    padding: 1.5rem;

    @include mobile {
        @include flex(column, center, center);
        padding: 0.5rem
    }

    .ventajas_uno,
    .ventajas_dos {
        @include flex(column, center, center);
        gap: 1rem;

        .ventajas {
            @include flex(row, center, center);
            text-align: center;
            width: 80%;
            gap: 1rem;

            h3 {
                font-size: 1.2rem;
                font-weight: 500;
            }

            p {
                padding: 1rem;
                background-image: url(../img/FONDO.jpg);
                background-size: cover;
                text-align: center;
                border-radius: 1.5rem;
            }
        }
    }
}

.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 4rem;
    border-radius: 55px 55px 55px 20px;
}