.clases_precios {
    @include flex(row, center, center);
    padding: 2rem;

    .suscripciones {
        @include flex(column, center, center);
        width: 100%;
        text-align: center;
        padding: 1.5rem;

        img {
            width: 90%;
            padding: 1rem;
        }

        .cuerpo_clase {
            @include flex(column, space-between, center);
            gap: 1rem;
            padding: 1.5rem;
            background-color: $mainColor;
            border-radius: 1.5rem;
            @extend %sombreado;

            h3 {
                font-size: 1.5rem;
            }

            h5 {
                font-weight: 700;

                @include mobile {
                    font-size: 1rem;
                }
            }

            p {
                text-align: justify;
                font-weight: 500;

                @include mobile {
                    font-size: 0.8rem;
                }
            }
        }
    }
}





// .suscripciones h2 {
//     font-size: 20px;
//     color: rgb(212, 116, 48);
// }

// .suscripciones p {
//     width: 100%;
//     height: 120px;
//     padding: 20px 70px 20px 70px;
// }

.referi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.referi h2 {
    background-color: yellow;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
}

.referi img {
    width: 45px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.ventajas {
    display: inline-flex;
    text-align: center;
    margin: 50px 20px 50px 65px;
    width: 40%;
}

.ventajas h3 {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}

.ventajas p {
    width: 100%;
    margin: 10px;
    padding: 15px;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
    text-align: center;
    border-radius: 20px;
}

.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 4rem;
    border-radius: 55px 55px 55px 20px;
}