.contacto {
    @include flex(row, center, center);
    gap: 1rem;
    @extend %background;

    .container {
        -webkit-animation: roll-in-left .7s ease-out both;
        animation: roll-in-left .7s ease-out both;

        @-webkit-keyframes roll-in-left {
            0% {
                -webkit-transform: translateX(-800px) rotate(-540deg);
                transform: translateX(-800px) rotate(-540deg);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
            }
        }

        @keyframes roll-in-left {
            0% {
                -webkit-transform: translateX(-800px) rotate(-540deg);
                transform: translateX(-800px) rotate(-540deg);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
            }
        }
    }

    .datos_adicionales {

        -webkit-animation: roll-in-right .7s ease-out both;

        animation: roll-in-right .7s ease-out both;

        @-webkit-keyframes roll-in-right {
            0% {
                -webkit-transform: translateX(800px) rotate(540deg);
                transform: translateX(800px) rotate(540deg);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
            }
        }

        @keyframes roll-in-right {
            0% {
                -webkit-transform: translateX(800px) rotate(540deg);
                transform: translateX(800px) rotate(540deg);
                opacity: 0
            }

            100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
            }
        }
    }

    .icono_datos {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
            margin-top: 1rem;
            margin-left: 1rem;
            font-weight: bold;
        }
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .mapa {
        @include mobile {
            aspect-ratio: 16/9;
            height: auto;
        }
    }
}

.preguntas_frecuentes_fondo {
    background-image: url(../img/background/encabezado.jpg);
    background-size: cover;
    background-attachment: fixed;

    @include mobile {
        .preguntas_frecuentes {
            padding: 2rem;
        }
    }

}

.comunidad {
    background-image: url(../img/background/7528455-banners-de-música-de-horisontal.webp);
    background-size: cover;

    label {
        font-weight: 500;
    }
}