.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding-top: 1rem;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;

    .logopie {
        width: 70px;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
    }

    .footer__redes {
        display: flex;
        flex-direction: row;

        a {
            color: black;
            padding-inline: 0.8rem;
            padding-bottom: 2rem;
            font-size: 1.5rem;
        }
    }
}