.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding-top: 1rem;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;

    .logopie {
        width: 70px;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
    }

    .footer__redes {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 2rem;

        a {
            color: black;
            padding-inline: 0.8rem;
            padding-block: 0.5rem;
            font-size: 1.5rem;
            border-radius: 25px;
        }
    }
}

$redes: (
    facebook: #4040e4,
    instagram: #ef6d82,
    youtube: #f01c1c,
    tiktok: white
);

@each $redsocial,
$colorredes in $redes {
    .bi-#{$redsocial}:hover {
        background-color: $colorredes;
        transition: 0.5s;
    }
}