.footer {
    @include flex(column, center, center);
    gap: 0.6rem;
    padding-top: 1.5rem;
    @extend %background;

    .logopie {
        width: 70px;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
    }

    .footer__redes {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 2rem;

        a {
            color: black;
            padding-inline: 0.8rem;
            padding-block: 0.5rem;
            font-size: 1.5rem;
            border-radius: 1.5rem;
        }
    }
}

$redes: (
    facebook: #3b5998,
    instagram: #ef6d82,
    youtube: #f01c1c,
    tiktok: white
);

@each $redsocial,
$colorredes in $redes {
    .bi-#{$redsocial}:hover {
        background-color: $colorredes;
        transition: 0.5s;
    }
}