hr {
    color: white;
    margin: 0;
}

.encabezado {
    background-image: url(../img/background/encabezado.jpg);
    background-size: cover;
    background-attachment: fixed;

    .hero {
        display: flex;
        justify-content: space-between;

        .navbar__logo {
            width: 100px;
            padding: 25px 0px 15px 20px;
        }

        .navbar {
            @include flex(row, space-between, flex-end);

            .navbar__lista {
                display: flex;
                gap: 3rem;
                list-style-type: none;

                @include mobile {
                    padding-top: 1rem;
                    gap: 1rem;
                }

                .navbar__menu {

                    -webkit-animation: scale-in-hor-center .3s cubic-bezier(.39, .575, .565, 1.000) both;
                    animation: scale-in-hor-center .3s cubic-bezier(.39, .575, .565, 1.000) both;

                    a {
                        color: $secondaryColor;
                        font-size: 1.2rem;
                        font-weight: 700;
                        text-decoration: none;
                        transition: 0.4s;

                        @include mobile {
                            color: $secondaryColor;
                            font-size: 1.2rem;
                            font-weight: 500;
                            text-decoration: none;
                            transition: 0.4s;
                        }

                        &:hover {
                            background-color: $mainColor;
                            padding: 1rem;
                            border-radius: 25px;
                            color: black;

                            @include mobile {
                                padding: 0.5rem;
                            }
                        }
                    }
                }

                @for $item from 1 through 5 {
                    .navbar__menu:nth-child(#{$item}) {
                        animation-delay: $item*0.2s;
                    }
                }
            }

            .container-fluid {

                .navbar-toggler {
                    background-color: $mainColor;
                }
            }
        }

        .navbar__botones {
            @include flex(row, center, end);
            padding-right: 3rem;
            padding-bottom: 1rem;
            gap: 1rem;

            @include mobile {
                display: none;
            }
        }
    }
}

@-webkit-keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
}

@keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
}