.institucional {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex: 1;
    padding-block: 2rem;

    @include mobile {
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
    }

    .institucional__main {
        background-color: $mainColor;
        border-radius: 25px;
        width: 30%;
        padding: 1.5rem;
        text-align: justify;
        @extend %sombreado;

        @include mobile {
            width: 100%;
            padding: 1.2rem;
            font-size: 0.8rem;
        }

        h2 {
            color: $secondaryColor;
            font-size: 1.6rem;
            font-weight: 600;
            text-align: center;
            padding-bottom: 0.5rem;

            @include mobile {
                font-size: 1.2rem;
            }
        }

        p {
            .italica {
                font-style: italic;
            }
        }
    }

    iframe {
        border: 2px solid white;
        max-width: 50%;

        @include mobile {
            max-width: 100%;
        }
    }
}