.presentacion {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4rem;
    gap: 2.5rem;

    @include mobile {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;
    }

    .foto_profe {
        width: 50%;
        @extend %sombreado;

        @include mobile {
            width: 80%;
        }
    }

    .presentacion_texto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $mainColor;
        text-align: justify;
        padding: 2rem;
        border-radius: 20px;
        width: 50%;
        height: 10%;
        @extend %sombreado;

        @include mobile {
            font-size: 0.8rem;
            padding: 1.2rem;
            width: 90%;
        }

        h2 {
            color: $secondaryColor;
            font-size: 1.6rem;
            font-weight: 700;
            text-align: center;
            padding-bottom: 0.5rem;

            @include mobile {
                font-size: 1.2rem;
            }
        }

        .italica {
            font-style: italic;
        }
    }
}