.general_titulo {
    font-size: 1.5rem;
    font-weight: 700;

    h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: $secondaryColor;
        padding-top: 2rem;
    }

    .gt_black {
        color: black;
    }
}