@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

$fontZillaSlab: 'Zilla Slab', serif;

$mainColor: burlywood;
$secondaryColor: rgb(212, 116, 48);

%sombreado {
    box-shadow: 5px 5px 10px 0 black;
}