@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

$fontZillaSlab: 'Zilla Slab', serif;

$mainColor: burlywood;
$secondaryColor: rgb(212, 116, 48);

%sombreado {
    box-shadow: 5px 5px 10px 0 black;
}

%background {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #ff9149 100%);
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}